form {
 	font-size: 23px;
	padding: 20px 40px;
	background-color: #BBE8BE;
	margin: 150px;
	margin-top: 0px;
	padding-top: 50px;
	margin-bottom: 50px;
}
h2 {
	text-align:left;
	padding: 20px;
	color: black;
}
.form-control{
	font-size: 20px;
	width: 50%;
	padding: 0px 0;
	margin: 10px 0;
	border-left: 0;
	border-top: 0;
	border-right: 0;
	border-bottom: 2px solid #1A5276;
	outline: none;
	background: #F0F3F4;
	display: block;
}

select {
	font-size: 15px;
 }